<h1>Hello Angular Tuynh</h1>
            <button (click)="getQuiz()">Get User</button>
        <div id="response">Response: {{response}}</div>
<!--<div [hidden]="!getquized">
    <h2>List of Quiz</h2>
    <div class="container">
        <ul>
            <li *ngFor="#myQuiz of AppComponent"> <strong>{{myQuiz.questions.name}}</strong>
                <ul>
                    <li *ngFor="#myAnswer of myQuiz.answer">    
                            <input type="radio" name="myQuiz.id" value="myAnswer.answerText"(click)="myQuiz.questions.userAnswer=myAnswer.name" />{{myAnswer.name}}<br>
                    </li>
                </ul>
                <h4 [hidden]="!submitted">Key: {{myQuiz..key}}</h4>
            </li>
        </ul>
        <button class="btn" type="submit" (click)="showResult()">Submit</button>
        <div class="well">
        <p>you got {{ correctCount }} out of {{QuizList.length}} right</p>
    </div>
</div>-->